@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap&#39;");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

main,
main > section {
  display: flex;
  flex-direction: column;
}

main > section {
  padding: 5vh 0;
}

details {
  display: none;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

p {
  line-height: 1.5;
}

@media (min-width: 200px) {
  nav {
    padding: 10% 0;
  }
  nav ul {
    display: none;
  }
  nav > section {
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    height: 6vh;
  }
  nav > article {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    padding-bottom: 10%;
  }
  nav i {
    font-size: 60px;
  }
  nav h1 {
    font-size: 50px;
    font-weight: 300;
    width: 30%;
    text-transform: uppercase;
  }
  header {
    position: relative;
    height: 70vh;
  }
  header article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    position: absolute;
    text-align: center;
    color: white;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  header h1 {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 50px;
  }
  header p {
    font-size: 14px;
  }
  .features {
    color: #5f5f5f;
    row-gap: 6vh;
    padding: 5%;
  }
  .features > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
  }
  .features article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    row-gap: 0;
  }
  .features aside {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 3vh;
  }
  .features h3 {
    font-size: 28px;
  }
  .features i {
    font-weight: 700;
    font-size: 76px;
  }
  .activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 5vh;
  }
  .activities > article {
    background-image: url("/img/pic_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 40vh;
  }
  .activities > article aside {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  .activities h2 {
    font-size: 40px;
    font-weight: 300;
  }
  .activities > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 6vh;
  }
  .activities figure {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 2vh;
    border: 1px solid #909090;
    padding: 4vh 0;
  }
  .activities img {
    width: 60%;
  }
  .activities figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    width: 75%;
  }
  .activities h4 {
    color: #108ac1;
    font-weight: 400;
    font-size: 22px;
  }
  .activities figcaption > p {
    color: #909090;
    font-size: 18px;
  }
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
  }
  .company img {
    width: 100%;
  }
  .company > figure,
.company figcaption,
.company > section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .company figure {
    row-gap: 3vh;
  }
  .company figcaption {
    width: 80%;
    row-gap: 3vh;
  }
  .company aside {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .company aside > a {
    border: 1px solid #909090;
    color: #909090;
    padding: 1vh 4vh;
  }
  .company h2 {
    width: 100%;
    color: #5f5f5f;
    text-align: left;
    font-weight: 400;
    font-size: 40px;
  }
  .company p {
    color: #909090;
  }
  .company > section {
    border: 1px solid #909090;
    width: 90%;
    position: relative;
  }
  .company > section article {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .company > section article a:first-child {
    border-right: 1px solid #909090;
  }
  .company > section a {
    width: 100%;
    padding: 2vh 0;
    font-size: 22px;
    color: #909090;
    text-align: center;
    border-bottom: 1px solid #909090;
  }
  .company > section #vision, .company > section #mission {
    flex-direction: column;
    row-gap: 4vh;
    width: 70%;
    padding: 5% 0;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 5vh;
  }
  .contact h4 {
    text-align: right;
    width: 100%;
    color: #5f5f5f;
    font-size: 40px;
    font-weight: 400;
  }
  .contact > section, .contact figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 5vh;
    width: 85%;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 2vh;
    width: 100%;
  }
  .contact input, .contact textarea {
    width: 92%;
    padding: 4%;
    border: 1px solid lightgray;
  }
  .contact textarea {
    height: 20vh;
  }
  .contact aside {
    width: 40%;
    display: flex;
    justify-content: right;
  }
  .contact [type=submit] {
    background-color: transparent;
    text-align: center;
    color: #909090;
    font-size: 20px;
    padding: 2vh 0;
  }
  .contact img {
    width: 100%;
  }
  .contact p {
    color: #909090;
  }
  footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    color: #5f5f5f;
  }
  footer a {
    color: #5f5f5f;
    background-color: gainsboro;
    width: 5vh;
    height: 5vh;
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
}
@media (min-width: 600px) {
  nav details {
    display: none;
  }
  nav > section {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    row-gap: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 6;
  }
  nav ul {
    width: 70%;
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    row-gap: 0;
  }
  nav li {
    display: flex;
    width: 100%;
  }
  nav a {
    width: 100%;
    padding: 1.5vh 1vh;
    text-align: center;
    text-transform: capitalize;
    color: #5f5f5f;
    transition: 0.3s;
  }
  nav a:hover {
    background-color: gainsboro;
    color: #108ac1;
  }
  .features,
.activities figure {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .features > section,
.activities img {
    width: 40%;
  }
  .activities figcaption {
    width: 50%;
  }
  .company img {
    width: 50%;
  }
  .company aside > a:hover {
    background-color: gainsboro;
  }
}/*# sourceMappingURL=style.css.map */